*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f172a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}


a {
  text-decoration: none;
  color: inherit;
}